*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#slider{
    background-color: white;
    margin: 20px;
}

.controls{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}

.Speed{
    /* background-color: red; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}


.maxdistance{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}